body {
	background-color: #f5f5f5;
	vertical-align: center;
}

.content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;
	text-align: center;
	max-width: 100vw;
	min-height: 100%;
	height: 100%;
	overflow: hidden;
}

#cantstart {
	display: none;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	margin: 0;
	text-align: center;
	color: #9c3535;
	font-size: 15px;
}

#howtoplay {
	margin: 0;
	text-decoration: underline;
}

#description {
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: normal;
}

.labelwrapper {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
	font-weight: normal;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 20px;
}

.sublabel {
	font-size: 18px;	
}

.labelwrapper > input {
	margin: 0;
	margin-right: 10px;
	margin-left: 10px;
}

#playerlabelwrapper {
	margin-bottom: 2px;
}

.playerwrapper {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	margin-right: 0px;
	font-size: 20px;
}

.playerwrapper > input {
	margin-top: 0;
	margin-bottom: 5px;
	margin-right: 10px;
	margin-left: 10px;
}

#addplayerwrapper {
	margin-top: -15px;
}

#timerwrapper {
	margin: 0;
	min-width: 100%;
	line-height: 0;
}

.player {
	display: inline-block;
	margin: 0;
	color: #5c5c5c;
	font-size: 40px;
}

.gamedesc {
	display: inline-block;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 30px;
	padding: 0;
}

.gameimage {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 100px;
	width: 100px;
}

.noselect {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}


.otherplayer {
	color: #5c5c5c;
	display: inline-block;
	margin: 0;
}

#begin {
	background-color: #49c973;
	border: 2px solid #49c973;
	color: white;
	padding: 14px 14px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 20px;
	border-radius: 15px;
	min-width: 120px;
	outline: none;
	margin: 0;
}

#begin:hover:enabled {
	border: 2px solid #339654;
}

.textdisplay {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-content: center;
	border-radius: 50px;
	margin: 0 auto;
	background-color: #ebebeb;
	font-size: 50px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #33c9ff;
	min-width: 50vw;
	max-width: 60vw;
	overflow: auto;
	word-break: normal;
	padding: 30px;
}

#categorieswrapper {
	display: none;
}

#flipcupwrapper {
	display: none;
}

#clickracewrapper {
	display: none;
}

.title {
	font-size: 75px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-style: italic;
	color: #33c9ff;
	margin: 0;
}

#footnote {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	color: #33c9ff;
	padding-bottom: 12px;
	margin: 0;
	margin-top: -20px;
}

#playagain {
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	color: #ababab;
	margin: 0;
	padding-top: 5px;
	visibility: hidden;
}

#playagain:hover {
	cursor: pointer;
}

#category {
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-top: 0px;
}

#category .text_wrapper {
	position: relative;
	display: inline-block;
	padding-top: 0.2em;
	padding-right: 0.05em;
	padding-bottom: 0.1em;
	overflow: hidden;
}

#category .letter {
	display: inline-block;
	line-height: 1em;
}

#alphabet {
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 30px;
	font-size: 110px;
	visibility: hidden;
	line-height: 1;
}

#type {
	margin: 0;
	display: none;
}

#retryimg {
	vertical-align: middle;
	height: 15px;
	width: 15px;
}

.buttonspace {
	display: none;
	flex-direction: row nowrap;
	margin: 0;
	text-align: center;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-content: center;
}

.buttonwrapper {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 0;
	padding: 0;
}

.verticalwrapper {
	flex-flow: column wrap;
}

#racebuttonwrapper {
	margin-bottom: 30px;
}

#racebutton {
	font-size: 40px;
	border-radius: 60px;
	width: 40vw;
	height: 40vh;
	margin: 0;
}

#correct {
	background-color: #49c973;
	border: 2px solid #49c973;
	color: white;
	padding: 14px 14px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 20px;
	margin-right: 2px;
	border-radius: 15px;
	min-width: 120px;
	outline: none;
	display: none;
}

#correct:hover {
	border: 2px solid #339654 !important;
}

.greenbutton {
	margin: 0;
	background-color: #49c973;
	border: 2px solid #49c973;
	color: white;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-family: sans-serif;
	outline: none;
	touch-action: manipulation;
}

.greenbutton:hover {
	border: 2px solid #339654 !important;
}

#incorrect {
	background-color: #ff5c5c;
	border: 2px solid #ff5c5c;
	color: white;
	padding: 14px 14px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 20px;
	margin-left: 2px;
	border-radius: 15px;
	min-width: 120px;
	outline: none;
	display: none;
}

#incorrect:hover {
	border: 2px solid #9c3535 !important;
}

#addplayer {
	background-color: #49c973;
	border: 2px solid #49c973;
	color: white;
	padding: 4px 14px;
	height: 30px;
	min-width: 80px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 12px;
	border-radius: 15px;
	min-width: 120px;
	outline: none;
}

#addplayer:hover {
	border: 2px solid #339654;
}

.timerbar {
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	align-items: center;
	background-color: #bdbdbd;
	height: 40px;
	width: 400px;
	margin: 0;
	border-radius: 15px;
	overflow: hidden;
	text-align: right;
	position: relative;
}

.timerbarprogress {
	width: 100%;
	height: 100%;
	background-color: #49c973;
	float: left;
	border-radius: 15px;
	overflow: hidden;
}

.countbox {
	width: fit-content;
	height: fit-content;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	padding-right: 12px;
}

.count {
	margin: 0;
	color: #ffffff;
	font-size: 30px;
}

#categoriestimer {
	margin-bottom: 4px;
}

.nextturn {
	background-color: #49c973;
	border: 2px solid #49c973;
	color: white;
	padding: 14px 14px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 20px;
	border-radius: 15px;
	min-width: 140px;
	outline: none;
	display: none;
	margin: 0;
}

.nextturn:hover {
	border: 2px solid #339654;
}

.slider {
	-webkit-appearance: none;
	background: #d3d3d3;
	width: 30%;
	height: 18px;
	-webkit-transition: .2s;
	transition: opacity .2s;
	outline: none;
	border-radius: 50px;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	background: #33c9ff;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
}

.mobileslider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	background: #33c9ff;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	cursor: pointer;
}

.mobileslider::-moz-range-thumb {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	cursor: pointer;
}

.checkbox {
	height: 20px;
	width: 20px;
	border: 2px solid #33c9ff;
	border-radius: 5px;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: 10px;
	margin-left: 10px;
}

.checkbox:hover {
	cursor: pointer;
}

.textbox {
	background-color: #d3d3d3;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	color: #363636;
	height: 20px;
	width: 18%;
	outline: none;
	border-radius: 5px;
	padding-left: 5px;
}

.textbox:invalid {
	border: #9c3535 solid 2px;
}

.textbox:valid {
	border: #339654 solid 2px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 1000px #d3d3d3 inset !important;
    -webkit-text-fill-color: #363636;
}

.checked {
	background-color: #33c9ff;
}

.break {
	flex-basis: 100%;
	width: 100%;
	height: 0;
	margin: 0;
	padding: 1px;
}

@keyframes updateTimer {
	0% {width: 100%;}
	100% {width: 0px;}
}