body {
	background-color: #ff8859;
	height: 100%;
	margin: 0;
}

.titlebar {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: #ffffff;
	margin: 0;
}

.titlebar-left {
	flex-grow: 1;
	flex-basis: 0;
	border: 0px;
	padding-top: 31px;
	padding-bottom: 31px;
	padding-left: 5px;
}

.titlebar-center {
	flex-grow: 3;
	flex-basis: 0;
	border: 0px;
	padding-top: 31px;
	padding-bottom: 31px;
}

.titlebar-right {
	flex-grow: 1;
	flex-basis: 0;
	border: 0px;
	padding-top: 31px;
	padding-bottom: 31px;
	padding-right: 17px;
}

.titlebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.titlebar li {
	display: inline-block;
}

.titlebar a {
	text-decoration: none;
	color: #0c0c0c;
	font-size: 16px;
	font-weight: bold;
	font-family: "Open Sans"
}

.titlebar-left a {
	padding-top: 31px;
	padding-left: 15px;
	padding-right: 15px;
}

.titlebar-center a {
	padding: 31px;
	padding-left: 15px;
	padding-right: 15px;
}

.titlebar-right a {
	padding: 31px;
	padding-left: 5px;
	padding-right: 5px;
}

.titlebar a:hover {
	color: #ff7a7a
}

.titlebar a.active {
	color: #fc300c
}

.titlebar a img {
	height: 18px;
}

.titlebar-left ul {
	width: auto;
	text-align: left;
}

.titlebar-center ul {
	width: auto;
	text-align: center;
}

.titlebar-right ul {
	width: auto;
	text-align: right;
}

.content {
	padding: 0;
	margin: 0;
	display: block;
	float: center;
}

.large-logo {
	text-align: center;
	float: center;
	height: 6vw;
	padding-bottom: 60px;
}

.large-logo img {
	width: 80vw;
}

.media {
	display: flex;
	float: center;
	width: 60vw;
	background-color: #E3DCCC;
	border: 4px solid #a39e93;
	margin: 0 auto;
	margin-top: 40px;
	padding-bottom: 20px;
	margin-bottom: 10px;
}

.media a {
	text-decoration: underline;
	color: #0c0c0c;
	font-size: 16px;
	font-family: "Open Sans"
}

.picture {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
	height: 60vh;
}

.about {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
}

.resume {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
}

.work {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
}

.media h1 {
	font-size: 40px;
	font-weight: bold;
	line-height: 0px;
	display: block;
	padding-bottom: 10px;
	color: #6e6a63;
	font-family: "Poppins";
	text-align: center;
}

.media p {
	font-size: 20px;
	color: #6e6a63;
	font-family: "Poppins";
	text-align: left;
}

.resume p {
	line-height: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

.about p {
	line-height: 50px;
	padding-left: 20px;
	padding-right: 20px;
}

.work p {
	line-height: 30px;
	padding-left: 20px;
	padding-right: 20px;
}

.media img {
	width: 30%;
	border: 4px solid #a39e93;
	border-radius: 80px;
	padding: 0px;
}

.pdf {
	height: 1100px;
	width: 850px;
}

.pdf-link {
	padding-top: 20px;
	margin: 0 auto;
}

@media only screen and (max-width: 1440px) {
	.pdf {
		height: 55vh;
		width: 43vw;
	}
}

@media only screen and (max-width: 1220px) {
	.media img {
		width: 40%;
	}
	.titlebar a {
		font-size: 24px;
	}
	.titlebar a img {
		height: 24px;
		margin: auto;
	}
	.picture {
		height: 40vh;	
	}
	.media img {
		width: 75%;
	}
	.large-logo {
		padding-top: 5vh;
		padding-bottom: 5vh;
	}
}

@media only screen and (max-width: 900px) {
	.media h1 {
		font-size: 5vw;
	}
}
