body {
	background-color: #3884ff;
	height: 100%;
	margin: 0;
}

.titlebar {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: #ffffff;
	margin: 0;
}

.titlebar-left {
	flex-grow: 1;
	flex-basis: 0;
	border: 0px;
	padding-top: 31px;
	padding-bottom: 31px;
	padding-left: 5px;
}

.titlebar-center {
	flex-grow: 3;
	flex-basis: 0;
	border: 0px;
	padding-top: 31px;
	padding-bottom: 31px;
}

.titlebar-right {
	flex-grow: 1;
	flex-basis: 0;
	border: 0px;
	padding-top: 31px;
	padding-bottom: 31px;
	padding-right: 17px;
}

.titlebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.titlebar li {
	display: inline-block;
}

.titlebar a {
	text-decoration: none;
	color: #0c0c0c;
	font-size: 16px;
	font-weight: bold;
	font-family: "Open Sans"
}

.titlebar-left a {
	padding-top: 31px;
	padding-left: 15px;
	padding-right: 15px;
}

.titlebar-center a {
	padding: 31px;
	padding-left: 15px;
	padding-right: 15px;
}

.titlebar-right a {
	padding: 31px;
	padding-left: 5px;
	padding-right: 5px;
}

.titlebar a:hover {
	color: #5c9aff;
}

.titlebar a.active {
	color: #3884ff;
}

.titlebar a img {
	height: 18px;
}

.titlebar-left ul {
	width: auto;
	text-align: left;
}

.titlebar-center ul {
	width: auto;
	text-align: center;
}

.titlebar-right ul {
	width: auto;
	text-align: right;
}

.content {
	padding: 0;
	margin: 0;
	display: block;
	float: center;
}

.large-logo {
	text-align: center;
	float: center;
	height: 6vw;
	padding-bottom: 60px;
}

.large-logo img {
	width: 80vw;
}

.media {
	display: flex;
	flex-direction: column;
	float: center;
	width: 60vw;
	background-color: #1e1e1e;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin: 0 auto;
	margin-top: 40px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.media a {
	text-decoration: underline;
	color: #ffffff;
	font-size: 16px;
	font-family: "Open Sans";
	line-height: 30px;
}

.media h1 {
	font-size: 40px;
	font-weight: bold;
	line-height: 0px;
	display: block;
	padding-bottom: 10px;
	color: #ffffff;
	font-family: "Inconsolata", monospace;
	text-align: center;
}

.picture {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin: 0 auto;
	height: 55vh;
}

.words {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0;
}

.media p {
	font-size: 20px;
	color: #ffffff;
	font-family: "Open Sans";
	text-align: left;
}

.words p {
	line-height: 30px;
	margin: 0;
}

.header {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	height: 30px;
	width: 100%;
	background-color: #4d4d4d;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 24px;
	display: inline-flex;
}

.buttons {
	flex-grow: 1;
	flex-basis: 0;
	text-align: left;
}

.header img {
	height: 50%;
	padding-left: 10px;
}

.header-title {
	flex-grow: 1;
	flex-basis: 0;
	text-align: center;
}

.header-right {
	flex-grow: 1;
	flex-basis: 0;
	text-align: right;
}

.prompt {
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #ffffff;
	text-align: left;
	font-family: "Nanum Gothic Coding", monospace;
	font-size: 14px;
}

.picture img {
	width: 30%;
	border: 4px solid #ffffff;
	border-radius: 80px;
	padding: 0px;
}

.words img {
	height: 18px;	
}

.pdf {
	height: 1100px;
	width: 850px;
	margin: 0 auto;
	text-align: center;
}

.pdf-link {
	padding-top: 20px;
	margin: 0 auto;
}

@media only screen and (max-width: 1440px) {
	.pdf {
		height: 90vw;
		width: 70vw;
	}
}

@media only screen and (max-width: 1220px) {
	.titlebar a {
		font-size: 24px;
	}
	.titlebar a img {
		height: 24px;
		margin: auto;
	}
	.picture {
		height: 40vh;	
	}
	.picture img {
		width: 75%;
	}
	.large-logo {
		padding-top: 5vh;
		padding-bottom: 5vh;
	}

	.media {
		width: 80vw;
	}
	.media p {
		font-size: 30px;
	}
}
